In [2]:
import json
import pandas as pd
import numpy as np
import os

In [3]:
basic = pd.read_csv('음식점이미지url_정문.csv', encoding='utf-8-sig', index_col=0)
basic

      rest_name                                                url
0        안동본가국밥  https://search.pstatic.net/common/?autoRotate=...
1        안동본가국밥  https://search.pstatic.net/common/?autoRotate=...
2        안동본가국밥  https://search.pstatic.net/common/?autoRotate=...
3        안동본가국밥  https://search.pstatic.net/common/?autoRotate=...
4        안동본가국밥  https://search.pstatic.net/common/?autoRotate=...
...         ...                                                ...
17111     이왕돈까스  https://search.pstatic.net/common/?autoRotate=...
17112     이왕돈까스  https://search.pstatic.net/common/?autoRotate=...
17113     이왕돈까스  https://search.pstatic.net/common/?autoRotate=...
17114     이왕돈까스  https://search.pstatic.net/common/?autoRotate=...
17115     이왕돈까스  https://search.pstatic.net/common/?autoRotate=...

[55904 rows x 2 columns]

In [12]:
# 크롤링한 image.json 파일 불러오기

with open("../data/nam_image.json", "r", encoding="utf-8") as json_file:
    json_sample = json.load(json_file)
    
# with open("../driver & crawling/느시/image.json", "r", encoding="utf-8") as json_file:
#     json_sample2 = json.load(json_file)
    
with open("../driver & crawling/느시/image_2nd.json", "r", encoding="utf-8") as json_file:
    json_sample3 = json.load(json_file)

In [13]:
df = pd.json_normalize(json_sample)
# df2 = pd.json_normalize(json_sample2)
df3 = pd.json_normalize(json_sample3)

In [14]:
df = df.T
# df2 = df2.T
df3 = df3.T

In [15]:
df.reset_index(inplace=True)
# df2.reset_index(inplace=True)
df3.reset_index(inplace=True)

In [23]:
df = pd.concat([df, df3])
df

,index,0
0,동복리해녀잠수촌.17030348_60e568059f1eace64860294b,
1,동복리해녀잠수촌.17030348_5bf276974dbe68446e4337b2,
2,동복리해녀잠수촌.17030348_5d269e0ed9a7f78490cbfafb,https://search.pstatic.net/common/?autoRotate=...
3,동복리해녀잠수촌.17030348_603ef197844400635a88a6e1,
4,동복리해녀잠수촌.17030348_5e0fc4c98f87a842bc9deec0,
...,...,...
16074,정다헌.632679666_5f0637ceee1ece9f4a668d35,
16075,정다헌.632679666_5d7c84798f87a842bc300c87,
16076,정다헌.632679666_5e68c5008f87a842bc2f904a,
16077,경태.1826198509_5fa5e6a856d68ef939404ad8,
16078,경태.1826198509_5ebdcdcf8f87a842bc73b1b4,

In [24]:
df.columns = ['name', 'url']

In [26]:
df['url'].replace('', np.nan, inplace=True)
df = df.dropna(subset = ['url'])

In [27]:
df['rest_name'] = df.name.str.split('.').str[0]
df

<ipython-input-27-662d26bed00f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['rest_name'] = df.name.str.split('.').str[0]

,name,url,rest_name
2,동복리해녀잠수촌.17030348_5d269e0ed9a7f78490cbfafb,https://search.pstatic.net/common/?autoRotate=...,동복리해녀잠수촌
10,동복리해녀잠수촌.17030348_5c527c84970827261de99c30,https://search.pstatic.net/common/?autoRotate=...,동복리해녀잠수촌
12,동복리해녀잠수촌.17030348_5d8aa2d98f87a842bc4c0b9c,https://search.pstatic.net/common/?autoRotate=...,동복리해녀잠수촌
13,동복리해녀잠수촌.17030348_5f8a5ff3e1bdad28c6a54cf5,https://search.pstatic.net/common/?autoRotate=...,동복리해녀잠수촌
17,동복리해녀잠수촌.17030348_5eff1503ee06165e651d756e,https://search.pstatic.net/common/?autoRotate=...,동복리해녀잠수촌
...,...,...,...
16054,메콩스카이.270528643_5c72c9bce8d6b49ae0797f56,https://search.pstatic.net/common/?autoRotate=...,메콩스카이
16055,메콩스카이.270528643_5c1e270468df7516a9772aee,https://search.pstatic.net/common/?autoRotate=...,메콩스카이
16057,메콩스카이.270528643_5de4c5dd9ec8258e4acd03d1,https://search.pstatic.net/common/?autoRotate=...,메콩스카이
16059,메콩스카이.270528643_5eb147ad8f87a842bcb6e5ec,https://search.pstatic.net/common/?autoRotate=...,메콩스카이
16067,제주창스닥중앙점.838485707_60409d32bfab585830247a15,https://search.pstatic.net/common/?autoRotate=...,제주창스닥중앙점

In [28]:
df.reset_index(inplace=True)

In [33]:
# del df['name']
df = df[['rest_name', 'url']]
df

     rest_name                                                url
0     동복리해녀잠수촌  https://search.pstatic.net/common/?autoRotate=...
1     동복리해녀잠수촌  https://search.pstatic.net/common/?autoRotate=...
2     동복리해녀잠수촌  https://search.pstatic.net/common/?autoRotate=...
3     동복리해녀잠수촌  https://search.pstatic.net/common/?autoRotate=...
4     동복리해녀잠수촌  https://search.pstatic.net/common/?autoRotate=...
...        ...                                                ...
8526     메콩스카이  https://search.pstatic.net/common/?autoRotate=...
8527     메콩스카이  https://search.pstatic.net/common/?autoRotate=...
8528     메콩스카이  https://search.pstatic.net/common/?autoRotate=...
8529     메콩스카이  https://search.pstatic.net/common/?autoRotate=...
8530  제주창스닥중앙점  https://search.pstatic.net/common/?autoRotate=...

[8531 rows x 2 columns]

In [34]:
final = pd.concat([df, basic])
final

      rest_name                                                url
0      동복리해녀잠수촌  https://search.pstatic.net/common/?autoRotate=...
1      동복리해녀잠수촌  https://search.pstatic.net/common/?autoRotate=...
2      동복리해녀잠수촌  https://search.pstatic.net/common/?autoRotate=...
3      동복리해녀잠수촌  https://search.pstatic.net/common/?autoRotate=...
4      동복리해녀잠수촌  https://search.pstatic.net/common/?autoRotate=...
...         ...                                                ...
17111     이왕돈까스  https://search.pstatic.net/common/?autoRotate=...
17112     이왕돈까스  https://search.pstatic.net/common/?autoRotate=...
17113     이왕돈까스  https://search.pstatic.net/common/?autoRotate=...
17114     이왕돈까스  https://search.pstatic.net/common/?autoRotate=...
17115     이왕돈까스  https://search.pstatic.net/common/?autoRotate=...

[64435 rows x 2 columns]

In [35]:
final.reset_index(inplace=True)
final

       index rest_name                                                url
0          0  동복리해녀잠수촌  https://search.pstatic.net/common/?autoRotate=...
1          1  동복리해녀잠수촌  https://search.pstatic.net/common/?autoRotate=...
2          2  동복리해녀잠수촌  https://search.pstatic.net/common/?autoRotate=...
3          3  동복리해녀잠수촌  https://search.pstatic.net/common/?autoRotate=...
4          4  동복리해녀잠수촌  https://search.pstatic.net/common/?autoRotate=...
...      ...       ...                                                ...
64430  17111     이왕돈까스  https://search.pstatic.net/common/?autoRotate=...
64431  17112     이왕돈까스  https://search.pstatic.net/common/?autoRotate=...
64432  17113     이왕돈까스  https://search.pstatic.net/common/?autoRotate=...
64433  17114     이왕돈까스  https://search.pstatic.net/common/?autoRotate=...
64434  17115     이왕돈까스  https://search.pstatic.net/common/?autoRotate=...

[64435 rows x 3 columns]

In [36]:
del final['index']

In [37]:
final.to_csv('음식점이미지url_정문종민남경.csv', mode='w')