In [76]:
import json
import pandas as pd
import numpy as np
import os

In [77]:
res= pd.read_csv('./211020.csv',encoding='UTF8', index_col=0)

In [78]:
res

,name,upjong,address,category,rating,write_id
0,설레임,한식,"제주특별자치도 제주시 애월읍 일주서로 5999-1, 2층",애월읍,5.0,5dee59b58f87a842bc875a3a
4,설레임,한식,"제주특별자치도 제주시 애월읍 일주서로 5999-1, 2층",애월읍,5.0,5c381b1c5745ec219264a906
8,설레임,한식,"제주특별자치도 제주시 애월읍 일주서로 5999-1, 2층",애월읍,5.0,5df37ace8f87a842bc889e8c
12,설레임,한식,"제주특별자치도 제주시 애월읍 일주서로 5999-1, 2층",애월읍,5.0,5d4fac00a2b372d9cf8c57be
16,설레임,한식,"제주특별자치도 제주시 애월읍 일주서로 5999-1, 2층",애월읍,5.0,5f05c9d4699d39675d9e8551
...,...,...,...,...,...,...
1935080,한옥마루카페,커피숍,"제주특별자치도 서귀포시 성산읍 한도로 269-23, 부속동 1층",서귀포시,4.0,5e27bd1c8f87a842bcae672c
1935081,한옥마루카페,커피숍,"제주특별자치도 서귀포시 성산읍 한도로 269-23, 부속동 1층",서귀포시,5.0,5da09bf28f87a842bca15a74
1935082,한옥마루카페,커피숍,"제주특별자치도 서귀포시 성산읍 한도로 269-23, 부속동 1층",서귀포시,5.0,5e5cb4848f87a842bcf753a4
1935083,한옥마루카페,커피숍,"제주특별자치도 서귀포시 성산읍 한도로 269-23, 부속동 1층",서귀포시,3.0,5e4c6ac98f87a842bc30aab8
1935084,한옥마루카페,커피숍,"제주특별자치도 서귀포시 성산읍 한도로 269-23, 부속동 1층",서귀포시,5.0,5e7628e68f87a842bcfb6dbc

In [79]:
res .isnull().sum()

name        0
upjong      0
address     0
category    0
rating      0
write_id    0
dtype: int64

In [80]:
res1=res.groupby(['name']).count()

In [81]:
res1  #7311

          upjong  address  category  rating  write_id
name
(주)삼다도횟집      10       10        10      10        10
09학번           3        3         3       3         3
1.5커피          1        1         1       1         1
11시11분        57       57        57      57        57
168테우카페       10       10        10      10        10
...          ...      ...       ...     ...       ...
희야네식당         15       15        15      15        15
히비            84       84        84      84        84
히아담            9        9         9       9         9
힐링푸드           5        5         5       5         5
힘찬장어           3        3         3       3         3

[7311 rows x 5 columns]

In [82]:
res1.isnull().sum()

upjong      0
address     0
category    0
rating      0
write_id    0
dtype: int64

In [83]:
res2=res.drop_duplicates(['name'])#이름으로 7311

In [84]:
res2

,name,upjong,address,category,rating,write_id
0,설레임,한식,"제주특별자치도 제주시 애월읍 일주서로 5999-1, 2층",애월읍,5.0,5dee59b58f87a842bc875a3a
82608,해물섬,한식,"제주특별자치도 제주시 애월읍 애월로11길 19, 1층",애월읍,4.0,5bfffecf6f3fe6b8a030d04a
82696,엄지흑돼지,한식,"제주특별자치도 제주시 애월읍 일주서로 6701, 1층",애월읍,5.0,5efe89b6afcca6e20afd7fd6
82828,비금향,기타,"제주특별자치도 제주시 애월읍 항몽로 133, 1층",애월읍,4.0,5ba0f999d619d82c4638d87c
82842,우미노식탁,기타,"제주특별자치도 제주시 애월읍 금성5길 42-24, 1층",애월읍,5.0,5c54891d67a1e9a6e4c9e768
...,...,...,...,...,...,...
1935011,지에스25서귀비석거리점,편의점,제주특별자치도 서귀포시 일주동로 8541 (동홍동),서귀포시,4.0,5f0554ec532b4ce788cd0fae
1935021,하은이네손만두김밥,일반조리판매,"제주특별자치도 서귀포시 천제연로 223, 1층 (중문동)",서귀포시,5.0,5e7be27a8f87a842bc064b10
1935055,씨유서귀라메르점,편의점,"제주특별자치도 서귀포시 중정로5번길 15, 1층 101호 (서귀동)",서귀포시,5.0,5bb2c2eb1f1157cee81a605f
1935064,지에스25서귀파인힐점,편의점,"제주특별자치도 서귀포시 홍중로 119-2, 602동 204호 (서홍동, 서강파인힐6차)",서귀포시,3.5,5c148f8251e236bb47f72c23
1935071,한옥마루카페,커피숍,"제주특별자치도 서귀포시 성산읍 한도로 269-23, 부속동 1층",서귀포시,4.5,5f418c02a602e98f56436cb1

In [85]:
res3=res.drop_duplicates(['address']) #주로소7007

In [86]:
res3

,name,upjong,address,category,rating,write_id
0,설레임,한식,"제주특별자치도 제주시 애월읍 일주서로 5999-1, 2층",애월읍,5.0,5dee59b58f87a842bc875a3a
82608,해물섬,한식,"제주특별자치도 제주시 애월읍 애월로11길 19, 1층",애월읍,4.0,5bfffecf6f3fe6b8a030d04a
82696,엄지흑돼지,한식,"제주특별자치도 제주시 애월읍 일주서로 6701, 1층",애월읍,5.0,5efe89b6afcca6e20afd7fd6
82828,비금향,기타,"제주특별자치도 제주시 애월읍 항몽로 133, 1층",애월읍,4.0,5ba0f999d619d82c4638d87c
82842,우미노식탁,기타,"제주특별자치도 제주시 애월읍 금성5길 42-24, 1층",애월읍,5.0,5c54891d67a1e9a6e4c9e768
...,...,...,...,...,...,...
1935011,지에스25서귀비석거리점,편의점,제주특별자치도 서귀포시 일주동로 8541 (동홍동),서귀포시,4.0,5f0554ec532b4ce788cd0fae
1935021,하은이네손만두김밥,일반조리판매,"제주특별자치도 서귀포시 천제연로 223, 1층 (중문동)",서귀포시,5.0,5e7be27a8f87a842bc064b10
1935055,씨유서귀라메르점,편의점,"제주특별자치도 서귀포시 중정로5번길 15, 1층 101호 (서귀동)",서귀포시,5.0,5bb2c2eb1f1157cee81a605f
1935064,지에스25서귀파인힐점,편의점,"제주특별자치도 서귀포시 홍중로 119-2, 602동 204호 (서홍동, 서강파인힐6차)",서귀포시,3.5,5c148f8251e236bb47f72c23
1935071,한옥마루카페,커피숍,"제주특별자치도 서귀포시 성산읍 한도로 269-23, 부속동 1층",서귀포시,4.5,5f418c02a602e98f56436cb1

In [87]:
res4=res.groupby(['name','address']).count()  #주소,이름으로 그룹 7311

In [88]:
res4

,,upjong,category,rating,write_id
name,address,,,,
(주)삼다도횟집,제주특별자치도 제주시 서해안로 572 (용담삼동),10,10,10,10
09학번,"제주특별자치도 제주시 산천단동1길 7, 1층 (아라일동)",3,3,3,3
1.5커피,"제주특별자치도 서귀포시 대정읍 글로벌에듀로 390, B동 1층 117호",1,1,1,1
11시11분,제주특별자치도 서귀포시 홍중동로 9 (서홍동),57,57,57,57
168테우카페,"제주특별자치도 제주시 테우해안로 168, 1층 (이호일동)",10,10,10,10
...,...,...,...,...,...
희야네식당,제주특별자치도 서귀포시 남원읍 태위로 685-1,15,15,15,15
히비,"제주특별자치도 서귀포시 효돈로 107, 1층 (신효동)",84,84,84,84
히아담,제주특별자치도 제주시 과원로 28 (연동),9,9,9,9
힐링푸드,"제주특별자치도 제주시 월랑로2길 22, 1층 101호 (노형동, 경인원룸)",5,5,5,5
힘찬장어,"제주특별자치도 제주시 삼무로3길 32-1 (연동,(1층))",3,3,3,3

In [89]:
# 걍 이름으로 그룹해도 된다!!!!

In [90]:
res2=res2[['name','address']]

In [91]:
res2

                 name                                           address
0                 설레임                   제주특별자치도 제주시 애월읍 일주서로 5999-1, 2층
82608             해물섬                     제주특별자치도 제주시 애월읍 애월로11길 19, 1층
82696           엄지흑돼지                     제주특별자치도 제주시 애월읍 일주서로 6701, 1층
82828             비금향                       제주특별자치도 제주시 애월읍 항몽로 133, 1층
82842           우미노식탁                    제주특별자치도 제주시 애월읍 금성5길 42-24, 1층
...               ...                                               ...
1935011  지에스25서귀비석거리점                      제주특별자치도 서귀포시 일주동로 8541 (동홍동)
1935021     하은이네손만두김밥                   제주특별자치도 서귀포시 천제연로 223, 1층 (중문동)
1935055      씨유서귀라메르점             제주특별자치도 서귀포시 중정로5번길 15, 1층 101호 (서귀동)
1935064   지에스25서귀파인힐점  제주특별자치도 서귀포시 홍중로 119-2, 602동 204호 (서홍동, 서강파인힐6차)
1935071        한옥마루카페               제주특별자치도 서귀포시 성산읍 한도로 269-23, 부속동 1층

[7311 rows x 2 columns]

In [92]:
res2.to_csv('res2.csv',mode="w",encoding='utf-8')

In [93]:
first=res2.iloc[:1000]

In [94]:
first

         name                          address
0         설레임  제주특별자치도 제주시 애월읍 일주서로 5999-1, 2층
82608     해물섬    제주특별자치도 제주시 애월읍 애월로11길 19, 1층
82696   엄지흑돼지    제주특별자치도 제주시 애월읍 일주서로 6701, 1층
82828     비금향      제주특별자치도 제주시 애월읍 항몽로 133, 1층
82842   우미노식탁   제주특별자치도 제주시 애월읍 금성5길 42-24, 1층
...       ...                              ...
611801   돈플라이     제주특별자치도 제주시 연동7길 20, 1층 (연동)
611803   노형집밥    제주특별자치도 제주시 다랑곶1길 9, 1층 (노형동)
611813   훈남횟집      제주특별자치도 제주시 조천읍 함덕13길 7, 1층
611973  카페콩03  제주특별자치도 제주시 고산동산5길 4, 1층 (이도이동)
612037  서자매김밥  제주특별자치도 제주시 원노형로 41-1, 1층 (노형동)

[1000 rows x 2 columns]

In [95]:
first.to_csv('first.csv',mode="w",encoding='utf-8')

In [96]:
second=res2.iloc[1000:2000]

In [97]:
second

                    name                            address
612047             외도아나고   제주특별자치도 제주시 우정로4길 3-5, 1층 (외도일동)
612049              정실국수     제주특별자치도 제주시 아연로 208, 1층 (오라이동)
612053              미쁨김밥   제주특별자치도 제주시 삼봉로 113-2, 1층 (도련일동)
612063              제주공간       제주특별자치도 제주시 노연로 34, 2층 (노형동)
612071               시쟈덕      제주특별자치도 제주시 신광로8길 20, 1층 (연동)
...                  ...                                ...
700093      서사라모이세해장국직영점  제주특별자치도 제주시 서광로5길 37, 101호 (용담일동)
700113               컨츄리           제주특별자치도 제주시 만덕로 23 (건입동)
700121       금커피별빙수제주일도점         제주특별자치도 제주시 동광로 112 (일도이동)
700123         저팔계깡통숯불구이        제주특별자치도 제주시 조천읍 신북로 523, 1층
700809  불타는여고24시떡볶이중앙여고점    제주특별자치도 제주시 구남동5길 14, 1층 (이도이동)

[1000 rows x 2 columns]

In [98]:
second.to_csv('second.csv',mode="w",encoding='utf-8')

In [99]:
third=res2.iloc[2000:3000]

In [100]:
third

                 name                                  address
700857           서프로와       제주특별자치도 제주시 테우해안로 132, 지하1층 (이호일동)
701426           오캄커피  제주특별자치도 제주시 광양11길 16, 101호 (이도이동, 희봉빌라)
701470           황소곱창                 제주특별자치도 제주시 삼무로3길 8 (연동)
701510           삼아갈비            제주특별자치도 제주시 서광로21길 4-1 (삼도일동)
701512      최가네옛날손두부집             제주특별자치도 제주시 사장2길 36, 1층 (연동)
...               ...                                      ...
975256       동동차이나남원점     제주특별자치도 서귀포시 남원읍 태위로689번길 7, 1층 104호
975262             꼬란            제주특별자치도 서귀포시 동문동로 2, 1층 (서귀동)
975396  비비큐올리브치킨제주동홍점        제주특별자치도 서귀포시 동홍동로26번길 6, 1층 (동홍동)
975410           오또도넛               제주특별자치도 서귀포시 중문상로 87 (중문동)
976096         흑돼지스토리           제주특별자치도 서귀포시 남원읍 태위로 94-37, 1층

[1000 rows x 2 columns]

In [101]:
third.to_csv('third.csv',mode="w",encoding='utf-8')

In [102]:
fourthd=res2.iloc[3000:4000]

In [103]:
fourthd

                 name                                            address
976530        네네치킨남원점  제주특별자치도 서귀포시 남원읍 남원체육관로 342, 상가동 1층 103호 (서귀포남...
976602       시카고피자성산점                         제주특별자치도 서귀포시 성산읍 일주동로 4232
976666            푸른솔                            제주특별자치도 서귀포시 남원읍 남한로 11
976674        용머리해물정식                         제주특별자치도 서귀포시 성산읍 환해장성로 467
976694          흑돈플러스                         제주특별자치도 서귀포시 대포로 132 (대포동)
...               ...                                                ...
1468849        금능포구횟집                            제주특별자치도 제주시 한림읍 금능9길 27
1468973  할리스커피협재해수욕장점                      제주특별자치도 제주시 한림읍 한림로 330, 1~2층
1469137      한치앞도모를바다                         제주특별자치도 제주시 한림읍 협재6길 9, 1층
1469363           드링콩                            제주특별자치도 제주시 한림읍 한림로 158
1469441           샤브왕                          제주특별자치도 제주시 한림읍 일주서로 5167

[1000 rows x 2 columns]

In [104]:
fourthd.to_csv('fourthd.csv',mode="w",encoding='utf-8')

In [105]:
fifth=res2.iloc[4000:5000]

In [106]:
fifth

                 name                               address
1469461      낮에정식밤에갈비              제주특별자치도 제주시 한림읍 한림상로 158
1469493      생고기통김치찌개              제주특별자치도 제주시 한림읍 한림로5길 11
1469539         다람쥐식탁           제주특별자치도 제주시 한림읍 명월성로 10, 1층
1469751        다시정한림점          제주특별자치도 제주시 한림읍 한림상로 231, 1층
1469763       피자베이한림점          제주특별자치도 제주시 한림읍 한림중앙로 27, 1층
...               ...                                   ...
1615557      아라주는엄마치킨        제주특별자치도 제주시 산천단동3길 13-2 (아라일동)
1615576        빨간집연동점              제주특별자치도 제주시 신대로 126 (연동)
1615588           도갈비  제주특별자치도 제주시 한라대학로 85 (노형동,프라임빌 102호)
1615728       우도동굴도남점              제주특별자치도 제주시 도남로 6 (삼도일동)
1615730  호야치킨앤닭강정 노형점            제주특별자치도 제주시 정존11길 22 (노형동)

[1000 rows x 2 columns]

In [107]:
fifth.to_csv('fifth.csv',mode="w",encoding='utf-8')

In [108]:
sixth=res2.iloc[5000:6000]

In [109]:
sixth

               name                         address
1615731    난타오천뜨란채점      제주특별자치도 제주시 정존11길 39 (노형동)
1615738        보해국수       제주특별자치도 제주시 오복4길 6 (이도이동)
1615741      두남자이야기         제주특별자치도 제주시 삼무로 77 (연동)
1615853          도리   제주특별자치도 제주시 도공로 48, 2층 (도두일동)
1615897          평산     제주특별자치도 제주시 정든로2길 14 (이도이동)
...             ...                             ...
1718888  씨유제주동문로터리점    제주특별자치도 제주시 동문로 8, 1층 (일도일동)
1718898       가든샐러드  제주특별자치도 제주시 남광로 123, 1층 (일도이동)
1718900      호떡당아라점   제주특별자치도 제주시 구산로 70, 1층 (아라일동)
1718922        루루비건    제주특별자치도 제주시 연북로 28, 2층 (노형동)
1718938     먹쿠슬낭노형점  제주특별자치도 제주시 정존15길 33, 1층 (노형동)

[1000 rows x 2 columns]

In [110]:
sixth.to_csv('sixth.csv',mode="w",encoding='utf-8')

In [111]:
seventh=res2.iloc[6000:7000]

In [112]:
seventh

                 name                             address
1718954     무우수커피로스터스          제주특별자치도 제주시 조천읍 조천11길 22-2
1719034      더벤티제주노형점         제주특별자치도 제주시 월랑로 5, 1층 (노형동)
1719062           베이크           제주특별자치도 제주시 우정로 60 (외도일동)
1719085       노형로22번가        제주특별자치도 제주시 노형로 22, 2층 (해안동)
1719087  앤티앤스프레즐제주시청점      제주특별자치도 제주시 중앙로 222, 1층 (이도이동)
...               ...                                 ...
1897322    씨유제주회수사거리점        제주특별자치도 서귀포시 1100로 178 (회수동)
1897383         남극노인성         제주특별자치도 서귀포시 하신상로 216 (상효동)
1897395       피자헛서귀포점    제주특별자치도 서귀포시 일주동로 8590, 1층 (동홍동)
1897444     씨유서귀포법환길점  제주특별자치도 서귀포시 이어도로 1041-1, 1층 (서호동)
1897454        벙커 하우스  제주특별자치도 서귀포시 막숙포로41번길 66, 1층 (법환동)

[1000 rows x 2 columns]

In [113]:
seventh.to_csv('seventh.csv',mode="w",encoding='utf-8')

In [114]:
eighth=res2.iloc[7000:]

In [115]:
eighth

                 name                                           address
1897688      제주김만복성산점            제주특별자치도 서귀포시 성산읍 성산등용로17번길 55, 1층 108호
1900504       미르봉봉키즈빌                    제주특별자치도 서귀포시 서호중로 86, 2층 (서호동)
1900508     빽다방서귀포시청점                    제주특별자치도 서귀포시 중앙로 109, 1층 (서홍동)
1900536        랍다:즐겁다                  제주특별자치도 서귀포시 태평로 34-17, 2층 (호근동)
1900547        제이아일랜드                     제주특별자치도 서귀포시 성산읍 환해장성로 69, 1층
...               ...                                               ...
1935011  지에스25서귀비석거리점                      제주특별자치도 서귀포시 일주동로 8541 (동홍동)
1935021     하은이네손만두김밥                   제주특별자치도 서귀포시 천제연로 223, 1층 (중문동)
1935055      씨유서귀라메르점             제주특별자치도 서귀포시 중정로5번길 15, 1층 101호 (서귀동)
1935064   지에스25서귀파인힐점  제주특별자치도 서귀포시 홍중로 119-2, 602동 204호 (서홍동, 서강파인힐6차)
1935071        한옥마루카페               제주특별자치도 서귀포시 성산읍 한도로 269-23, 부속동 1층

[311 rows x 2 columns]

In [116]:
eighth.to_csv('eighth.csv',mode="w",encoding='utf-8')