In [1]:
import json
import pandas as pd
import numpy as np
import os

In [4]:
res= pd.read_csv('./211020.csv',encoding='UTF8', index_col=0)

In [5]:
res

,name,upjong,address,category,rating,write_id
0,설레임,한식,"제주특별자치도 제주시 애월읍 일주서로 5999-1, 2층",애월읍,5.0,5dee59b58f87a842bc875a3a
4,설레임,한식,"제주특별자치도 제주시 애월읍 일주서로 5999-1, 2층",애월읍,5.0,5c381b1c5745ec219264a906
8,설레임,한식,"제주특별자치도 제주시 애월읍 일주서로 5999-1, 2층",애월읍,5.0,5df37ace8f87a842bc889e8c
12,설레임,한식,"제주특별자치도 제주시 애월읍 일주서로 5999-1, 2층",애월읍,5.0,5d4fac00a2b372d9cf8c57be
16,설레임,한식,"제주특별자치도 제주시 애월읍 일주서로 5999-1, 2층",애월읍,5.0,5f05c9d4699d39675d9e8551
...,...,...,...,...,...,...
1935080,한옥마루카페,커피숍,"제주특별자치도 서귀포시 성산읍 한도로 269-23, 부속동 1층",서귀포시,4.0,5e27bd1c8f87a842bcae672c
1935081,한옥마루카페,커피숍,"제주특별자치도 서귀포시 성산읍 한도로 269-23, 부속동 1층",서귀포시,5.0,5da09bf28f87a842bca15a74
1935082,한옥마루카페,커피숍,"제주특별자치도 서귀포시 성산읍 한도로 269-23, 부속동 1층",서귀포시,5.0,5e5cb4848f87a842bcf753a4
1935083,한옥마루카페,커피숍,"제주특별자치도 서귀포시 성산읍 한도로 269-23, 부속동 1층",서귀포시,3.0,5e4c6ac98f87a842bc30aab8
1935084,한옥마루카페,커피숍,"제주특별자치도 서귀포시 성산읍 한도로 269-23, 부속동 1층",서귀포시,5.0,5e7628e68f87a842bcfb6dbc

In [6]:
res .isnull().sum()

name        0
upjong      0
address     0
category    0
rating      0
write_id    0
dtype: int64

In [7]:
res1=res.groupby(['name']).count()

In [8]:
res1  #7311

          upjong  address  category  rating  write_id
name
(주)삼다도횟집      10       10        10      10        10
09학번           3        3         3       3         3
1.5커피          1        1         1       1         1
11시11분        57       57        57      57        57
168테우카페       10       10        10      10        10
...          ...      ...       ...     ...       ...
희야네식당         15       15        15      15        15
히비            84       84        84      84        84
히아담            9        9         9       9         9
힐링푸드           5        5         5       5         5
힘찬장어           3        3         3       3         3

[7311 rows x 5 columns]

In [9]:
res1.isnull().sum()

upjong      0
address     0
category    0
rating      0
write_id    0
dtype: int64

In [10]:
res2=res.drop_duplicates(['name'])#이름으로 7311

In [11]:
res2

,name,upjong,address,category,rating,write_id
0,설레임,한식,"제주특별자치도 제주시 애월읍 일주서로 5999-1, 2층",애월읍,5.0,5dee59b58f87a842bc875a3a
82608,해물섬,한식,"제주특별자치도 제주시 애월읍 애월로11길 19, 1층",애월읍,4.0,5bfffecf6f3fe6b8a030d04a
82696,엄지흑돼지,한식,"제주특별자치도 제주시 애월읍 일주서로 6701, 1층",애월읍,5.0,5efe89b6afcca6e20afd7fd6
82828,비금향,기타,"제주특별자치도 제주시 애월읍 항몽로 133, 1층",애월읍,4.0,5ba0f999d619d82c4638d87c
82842,우미노식탁,기타,"제주특별자치도 제주시 애월읍 금성5길 42-24, 1층",애월읍,5.0,5c54891d67a1e9a6e4c9e768
...,...,...,...,...,...,...
1935011,지에스25서귀비석거리점,편의점,제주특별자치도 서귀포시 일주동로 8541 (동홍동),서귀포시,4.0,5f0554ec532b4ce788cd0fae
1935021,하은이네손만두김밥,일반조리판매,"제주특별자치도 서귀포시 천제연로 223, 1층 (중문동)",서귀포시,5.0,5e7be27a8f87a842bc064b10
1935055,씨유서귀라메르점,편의점,"제주특별자치도 서귀포시 중정로5번길 15, 1층 101호 (서귀동)",서귀포시,5.0,5bb2c2eb1f1157cee81a605f
1935064,지에스25서귀파인힐점,편의점,"제주특별자치도 서귀포시 홍중로 119-2, 602동 204호 (서홍동, 서강파인힐6차)",서귀포시,3.5,5c148f8251e236bb47f72c23
1935071,한옥마루카페,커피숍,"제주특별자치도 서귀포시 성산읍 한도로 269-23, 부속동 1층",서귀포시,4.5,5f418c02a602e98f56436cb1

In [12]:
res3=res.drop_duplicates(['address']) #주로소7007

In [13]:
res3

,name,upjong,address,category,rating,write_id
0,설레임,한식,"제주특별자치도 제주시 애월읍 일주서로 5999-1, 2층",애월읍,5.0,5dee59b58f87a842bc875a3a
82608,해물섬,한식,"제주특별자치도 제주시 애월읍 애월로11길 19, 1층",애월읍,4.0,5bfffecf6f3fe6b8a030d04a
82696,엄지흑돼지,한식,"제주특별자치도 제주시 애월읍 일주서로 6701, 1층",애월읍,5.0,5efe89b6afcca6e20afd7fd6
82828,비금향,기타,"제주특별자치도 제주시 애월읍 항몽로 133, 1층",애월읍,4.0,5ba0f999d619d82c4638d87c
82842,우미노식탁,기타,"제주특별자치도 제주시 애월읍 금성5길 42-24, 1층",애월읍,5.0,5c54891d67a1e9a6e4c9e768
...,...,...,...,...,...,...
1935011,지에스25서귀비석거리점,편의점,제주특별자치도 서귀포시 일주동로 8541 (동홍동),서귀포시,4.0,5f0554ec532b4ce788cd0fae
1935021,하은이네손만두김밥,일반조리판매,"제주특별자치도 서귀포시 천제연로 223, 1층 (중문동)",서귀포시,5.0,5e7be27a8f87a842bc064b10
1935055,씨유서귀라메르점,편의점,"제주특별자치도 서귀포시 중정로5번길 15, 1층 101호 (서귀동)",서귀포시,5.0,5bb2c2eb1f1157cee81a605f
1935064,지에스25서귀파인힐점,편의점,"제주특별자치도 서귀포시 홍중로 119-2, 602동 204호 (서홍동, 서강파인힐6차)",서귀포시,3.5,5c148f8251e236bb47f72c23
1935071,한옥마루카페,커피숍,"제주특별자치도 서귀포시 성산읍 한도로 269-23, 부속동 1층",서귀포시,4.5,5f418c02a602e98f56436cb1

In [14]:
res4=res.groupby(['name','address']).count()  #주소,이름으로 그룹 7311

In [15]:
res4

,,upjong,category,rating,write_id
name,address,,,,
(주)삼다도횟집,제주특별자치도 제주시 서해안로 572 (용담삼동),10,10,10,10
09학번,"제주특별자치도 제주시 산천단동1길 7, 1층 (아라일동)",3,3,3,3
1.5커피,"제주특별자치도 서귀포시 대정읍 글로벌에듀로 390, B동 1층 117호",1,1,1,1
11시11분,제주특별자치도 서귀포시 홍중동로 9 (서홍동),57,57,57,57
168테우카페,"제주특별자치도 제주시 테우해안로 168, 1층 (이호일동)",10,10,10,10
...,...,...,...,...,...
희야네식당,제주특별자치도 서귀포시 남원읍 태위로 685-1,15,15,15,15
히비,"제주특별자치도 서귀포시 효돈로 107, 1층 (신효동)",84,84,84,84
히아담,제주특별자치도 제주시 과원로 28 (연동),9,9,9,9
힐링푸드,"제주특별자치도 제주시 월랑로2길 22, 1층 101호 (노형동, 경인원룸)",5,5,5,5
힘찬장어,"제주특별자치도 제주시 삼무로3길 32-1 (연동,(1층))",3,3,3,3

In [ ]:
# 걍 이름으로 그룹해도 된다!!!!

In [17]:
res2=res2[['name','address']]

In [18]:
res2

                 name                                           address
0                 설레임                   제주특별자치도 제주시 애월읍 일주서로 5999-1, 2층
82608             해물섬                     제주특별자치도 제주시 애월읍 애월로11길 19, 1층
82696           엄지흑돼지                     제주특별자치도 제주시 애월읍 일주서로 6701, 1층
82828             비금향                       제주특별자치도 제주시 애월읍 항몽로 133, 1층
82842           우미노식탁                    제주특별자치도 제주시 애월읍 금성5길 42-24, 1층
...               ...                                               ...
1935011  지에스25서귀비석거리점                      제주특별자치도 서귀포시 일주동로 8541 (동홍동)
1935021     하은이네손만두김밥                   제주특별자치도 서귀포시 천제연로 223, 1층 (중문동)
1935055      씨유서귀라메르점             제주특별자치도 서귀포시 중정로5번길 15, 1층 101호 (서귀동)
1935064   지에스25서귀파인힐점  제주특별자치도 서귀포시 홍중로 119-2, 602동 204호 (서홍동, 서강파인힐6차)
1935071        한옥마루카페               제주특별자치도 서귀포시 성산읍 한도로 269-23, 부속동 1층

[7311 rows x 2 columns]

In [19]:
res2.to_csv('res2.csv',mode="w",encoding='utf-8')

In [23]:
first=res2.iloc[:1000]

In [24]:
first

         name                          address
0         설레임  제주특별자치도 제주시 애월읍 일주서로 5999-1, 2층
82608     해물섬    제주특별자치도 제주시 애월읍 애월로11길 19, 1층
82696   엄지흑돼지    제주특별자치도 제주시 애월읍 일주서로 6701, 1층
82828     비금향      제주특별자치도 제주시 애월읍 항몽로 133, 1층
82842   우미노식탁   제주특별자치도 제주시 애월읍 금성5길 42-24, 1층
...       ...                              ...
611801   돈플라이     제주특별자치도 제주시 연동7길 20, 1층 (연동)
611803   노형집밥    제주특별자치도 제주시 다랑곶1길 9, 1층 (노형동)
611813   훈남횟집      제주특별자치도 제주시 조천읍 함덕13길 7, 1층
611973  카페콩03  제주특별자치도 제주시 고산동산5길 4, 1층 (이도이동)
612037  서자매김밥  제주특별자치도 제주시 원노형로 41-1, 1층 (노형동)

[1000 rows x 2 columns]

In [27]:
first.to_csv('first.csv',mode="w",encoding='utf-8')

In [25]:
second=res2.iloc[1000:2000]

In [26]:
second

                    name                            address
612047             외도아나고   제주특별자치도 제주시 우정로4길 3-5, 1층 (외도일동)
612049              정실국수     제주특별자치도 제주시 아연로 208, 1층 (오라이동)
612053              미쁨김밥   제주특별자치도 제주시 삼봉로 113-2, 1층 (도련일동)
612063              제주공간       제주특별자치도 제주시 노연로 34, 2층 (노형동)
612071               시쟈덕      제주특별자치도 제주시 신광로8길 20, 1층 (연동)
...                  ...                                ...
700093      서사라모이세해장국직영점  제주특별자치도 제주시 서광로5길 37, 101호 (용담일동)
700113               컨츄리           제주특별자치도 제주시 만덕로 23 (건입동)
700121       금커피별빙수제주일도점         제주특별자치도 제주시 동광로 112 (일도이동)
700123         저팔계깡통숯불구이        제주특별자치도 제주시 조천읍 신북로 523, 1층
700809  불타는여고24시떡볶이중앙여고점    제주특별자치도 제주시 구남동5길 14, 1층 (이도이동)

[1000 rows x 2 columns]

In [ ]:
third

In [ ]:
fourth

In [ ]:
fifth

In [ ]:
sixth

In [ ]:
seventh